<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1>Academys</h1>
    {% if academy_list %}
        <ul>
            {% for academy in academy_list %}
            <li> 
                <a href="{{ academy.get_absolute_url }}">
                    {{ academy.name }} <br>
                </a>                
            </li>        

            {% endfor %}
        </ul>
    {% endif %}
    {% endblock%}
</body>
</html>