<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga List</title>
</head>
<body>
    {% block content %}
    <h1>Yoga centers</h1>
    {% if yoga_list %}
        <ul>
            {% for yoga in yoga_list %}
            <li>
                <a href="{{ yoga.get_absolute_url }}">
                    {{ yoga.name }} <br>
                </a>
            </li>

            {% endfor %}
        </ul>
    {% endif %}
    {% endblock%}
</body>
</html>